# Ambiente virtual
.venv/
venv/

# Resultados
resultados/*
!resultados/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

perfil_zendesk/